<section class="content">
    <div>
        <h1 class="large-title-content">Title<span class="page-subtitle">- Subtitle</span></h1>
    </div>
    <div class="grid-container-wrapper">
        <div class="grid-container-map">
            <div class="cmenu-map">

                <div class="cmenu-map-wrapper">
                    <div class="cmenu-map-item">
                        <div class="cmenu-square"></div>
                        <div class="cmenu-map-text">
                            Map Mode
                        </div>
                    </div>
                    
                </div>

                <div class="cmenu-map-wrapper">
                    <div class="cmenu-map-item">
                        <div class="cmenu-square"></div>
                        <div class="cmenu-map-text">
                            Map Mode
                        </div>
                    </div>
                    
                </div>

            </div>
            <div class="map">
                <!-- <img class="map-img" src="/public/img/auto.png" alt="Description of the image"> -->
            </div>
        </div>
    </div>
    <div class="bottom-message">
        <div class="bottom-message-inner">
            <p class="bottom-message-text">Tip: Scrollbars are invisible, so try scrolling on menus and columns to view more content!</p>
        </div>
    </div>
</section>