@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes revealRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    color: transparent;
  }
  to {
    color: var(--clr-font-0);
  }
}

@keyframes moveRight {
  from {
    padding-left: 0px;
  }
  to {
    padding-left: 20px;
  }
}

@keyframes background-left-to-right {
  0%   { width: 0%; }
  100% { width: 200px; }
}