:root {
    /* The main page background colour */
    --clr-bg-0: rgb(205, 200, 176);

    /* surface colours */
    --clr-surface-0: rgb(78, 75, 66);
    --clr-surface-1: rgb(180, 175, 154);
    --clr-surface-2: rgb(218, 212, 187);;

    /* font colours */
    --clr-font-0: rgb(78, 75, 66);
    --clr-font-1: rgb(205, 200, 176);
}