---
---
@import "root";
@import "site";
@import "hmenu";
@import "animations";
@import "bottomMessage";
@import "column";
@import "overlays";
@import "pageDecoration";
@import "layoutshift";
@import "largeMedia";

.layout-grid-post {
    display: grid;
    grid-template-columns: 1fr 2.25fr;
    gap: 60px;
    margin: 0 auto;
    height: 100%;
    padding-left: 20px;
    border-left: 3px solid var(--clr-surface-1);
    flex-grow: 1;
}

.layout-grid-post::before {
    content: "";
    border-left: 10px solid var(--clr-surface-1);
    border-right: 3px solid var(--clr-surface-1);

    width: 5px;
    margin-right: 20px;
    background-color: transparent;
    padding-left: 5px;
    max-height: 51vh;
}

p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 2;
}


.post-text {
  margin: 0;
  color: var(--clr-font-0);
  line-height: 2.25;
  font-weight: normal;
}

/* page title */

.large-title-content {
  overflow: hidden;
  white-space: nowrap;
  font-size: 48px;
  text-shadow: 7px 7px 0px var(--clr-surface-1);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: normal;
  letter-spacing: 5px;

  color: var(--clr-font-0);

  animation: typing 2.75s steps(65, end), fadeIn 0.2s steps(40, end);
}

.page-subtitle {
  text-shadow: none;
  font-size: 24px;
}

/* content and grid layouts */

.content {
  padding: 45px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 2;
}

.grid-container-map {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  gap: 60px;
  margin: 0 auto;
  height: 100%;
  padding-left: 20px;
  border-left: 3px solid var(--clr-surface-1);
  flex-grow: 1;
}

.grid-container-post {
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  gap: 60px;
  margin: 0 auto;
  height: 100%;
  padding-left: 20px;
  border-left: 3px solid var(--clr-surface-1);
  flex-grow: 1;
}

.container-default::before {
    content: "";
    border-left: 10px solid var(--clr-surface-1);
    border-right: 3px solid var(--clr-surface-1);

    width: 5px;
    margin-right: 20px;
    background-color: transparent;
    padding-left: 5px;

    max-height: 62vh;
}

.container-default {
    position: relative;
  display: flex;
  margin: 0 auto;
  height: 100%;
//   padding-left: 20px;
//   border-left: 3px solid var(--clr-surface-1);
  flex-grow: 1;
}

.column-fullscreen {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-surface-2);
  height: 62vh;
}

.map {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: var(--clr-surface-1);
  min-height: 51vh;
  max-height: 51vh;
}

.map-img {
  max-height: inherit;
  width: auto;
}

.cmenu-map {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.cmenu-map-wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: background-color 0.35s ease, border 0.2s ease;
  margin-top: 10px;
}

.cmenu-map-wrapper:hover {
  border-top: 2px solid var(--clr-surface-0);
  border-bottom: 2px solid var(--clr-surface-0);

  .cmenu-map-item {
    outline: none;

    background-color: var(--clr-surface-0);    color: var(--clr-font-1);

    .cmenu-square {
      background-color: var(--clr-surface-2);
    }
  }
}

.cmenu-map-item {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  padding: 10px;
  background-color: var(--clr-surface-1);
}

.cmenu-map-text {
  color: inherit;
  padding-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 60px;
  margin: 0 auto;
  height: 100%;
  padding-left: 20px;
  border-left: 3px solid var(--clr-surface-1);
  flex-grow: 1;
}

.grid-container-wrapper {
  border-left: 10px solid var(--clr-surface-1);
  padding-left: 5px;
}

.post-header {
  background-color: var(--clr-surface-1);
  padding: 10px;
  color: var(--clr-font-0);
  text-align: left;
  font-size: 20px;
}

.column-content {
  color: var(--clr-font-0);
  font-size: 20px;
  padding: 20px;
  text-align: left;
  flex-grow: 1;
  overflow-y: auto;
  line-height: 1.5;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.column-content::-webkit-scrollbar-track {
  background: var(--clr-surface-2); /* Background of the scrollbar track */
}

.default-header {
    padding: 0;
}

