<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include head.html %}
    
</head>
<body>
    {% include header.html %}

    <section class="content">

        {% include widgets/page-title.html %}

        <div class="container-default">
            <div class="column-fullscreen">
                <div class="post-header">❖ {{ "today" | date: '%a ◇ %b %d ◇ %y' }}</div>
                <div class="column-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>
